<a href="{% url 'index' %}">HOME</a>
<p>
<h1>Auctions</h1>
<p>
Select an auction to view the list of items in that Auction:<br>
<p>
{% if auctionList %}
    <ul>
    {% for auction in auctionList %}
        <li>
            <a href="{% url 'listItems' auction.id %}">{{ auction.name }}</a>
	    [<a href="{% url 'deleteAuction' auction.id %}">Delete</a>]
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No auctions are defined.</p>
{% endif %}
<p>
[<a href="{% url 'newAuctionDetail' %}">New Auction</a>]<br>
